<a href="https://colab.research.google.com/github/vipul1108/Python-Pantech/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Python

##1.Arithmetic Operations

In [3]:
a=5
b=6
c=a+b
print(c)

11

In [4]:
d=a*b
print(d)

30

##Simple Arithmetic - Get input from user

In [5]:
a=int(input("Enter the Value of a: "))
b=int(input("Enter the Value of b: "))
add=a+b
sub=a-b
div=a/b
mul=a*b
mod=a%b
print("Addition: {0}, Substraction: {1}, Division: {2}, Multiplication: {3}, Modulus: {4}".format(add, sub, div, mul, mod)) #print using .format()
print("Addition: %d, Substraction: %d, Division: %25.3f, Multiplication: %d, Modulus: %d"%(add, sub, div, mul, mod)) #print using PADDING and PRECISION

Enter the Value of a: 45
Enter the Value of b: 5
Addition: 50, Substraction: 40, Division: 9.0, Multiplication: 225, Modulus: 0
Addition: 50, Substraction: 40, Division:                     9.000, Multiplication: 225, Modulus: 0

In [13]:
print(' | {0:<4} | {1:<4} | {2:<4} | {3:>4} | '.format('ADD', 'SUB', 'DIV', 'MUL'))
print(' | {0:<4} | {1:<4} | {2:<4} | {3:>4} | '.format(add, sub, div, mul))

 | ADD  | SUB  | DIV  |  MUL |
 | 50   | 40   | 9.0  |  225 |

##Simple Arithmetic - Get input from User (Power)

In [15]:
a=2
b=3
power=a**b #power
print(power)

8

In [16]:
a=2
b=2
power=a**b
print(power)

4

##2.Strings

###Creating a String

In [17]:
a = 'Vipul'
b = 'Patil'
print(a)
print(b)

Vipul
Patil

###String Concatenation


*   Spaces are counted in a string

In [27]:
a = 'Vipul'
b = "Patil"
string = a+b
print(string)

VipulPatil

In [28]:
a = 'Vipul'
b = " Patil" #space before P
string = a+b
print(string)

Vipul Patil

###Length of String

In [21]:
a = "Vipul"
len(a) #len() function to count the letters in a string

5

In [25]:
a = "Vipul"
length = len(a)
print('Length:',length)

Length: 5

In [26]:
a = "Vipul"
print('Length:',len(a))

Length: 5

In [29]:
a = 'V'
b = a*5 #to repeat the string (5 times)
print(b)

VVVVV

In [30]:
x = 'Vip '
y = x*3
print(y)

Vip Vip Vip

###String Indexing & Slicing

In [43]:
a = "Vipul"
print(a[3])     # identifying the element based on index
print(a[2:])    # Grab the elements starting from the index specified
print(a[:2])    # Grab the elements upto the index but not give the indexed element
print(a[-1])    # Grab the last element
print(a[:-1])   # Grab all the elements except last element
print(a[::2])   # Grab everything with 2 steps
print(a[::-1])  # Print string backwords(inverse the string)

u
pul
Vi
l
Vipu
Vpl
lupiV

###String Functions

#### upper() function

In [47]:
a = 'vipul'
upper_case = a.upper()
print(upper_case)

VIPUL

#### lower() function

In [48]:
a = 'PATIL'
lower_case = a.lower()
print(lower_case)

patil

In [49]:
a = 'Vipul Patil'
print(a.upper())  # changing to UPPER case
print(a.lower())  # CHANGING TO lower CASE

VIPUL PATIL
vipul patil

#### splitting string using split() function

In [51]:
a = 'Vipul Patil' 
b = a.split()   # splitting  string
print(b)

['Vipul', 'Patil']

#### string splitting and indexing

In [52]:
a = 'Vipul Patil'
b = a.split()
print(b[0])   # splitting string based on index

Vipul

In [60]:
a = 'Vipul Patil'
b = a.split()
print('Splitted String:',b)
print('Index 0:',b[0])
print('Index 1:',b[1])

Splitted String: ['Vipul', 'Patil']
Index 0: Vipul
Index 1: Patil

#### splitting string based on Delimiter

In [67]:
c = "ElonMusk, SteveJobs, BillGates"
d = c.split(',')  # splitting string based on Delimiter
print(d)

['ElonMusk', ' SteveJobs', ' BillGates']

In [66]:
c = "ElonMusk, SteveJobs, BillGates"
d = c.split(',')  # splitting string based on Delimiter
print(d)
print(d[1])

['ElonMusk', ' SteveJobs', ' BillGates']
 SteveJobs

#### Formatting string literals

In [68]:
a = "Vipul Patil"
print(f"My Name is {a} ! ")  # formatting string literals

My Name is Vipul Patil !

##3.Lists

###Creating lists

*   List is created using [ ] square brackets

In [69]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a,b)

[1, 2, 3, 4, 5] ['Vipul', 21, 99.5]

#### Length of lists

In [70]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a,b)
print(len(a))  #print the lenght of list a
print(len(b))  #print the lenght of list b

[1, 2, 3, 4, 5] ['Vipul', 21, 99.5]
5
3

#### locating list elements using index

In [72]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a,b)
print(a[2])  #locate element of list a using index
print(b[0])  #locate element of list b using index

[1, 2, 3, 4, 5] ['Vipul', 21, 99.5]
3
Vipul

In [73]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a,b)
print(a[1:])  #print elements of list a except first
print(b[1:])  #print elements of list b except first

[1, 2, 3, 4, 5] ['Vipul', 21, 99.5]
[2, 3, 4, 5]
[21, 99.5]

In [74]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a,b)
print(a[:2])  #print elements of list a upto 2nd element
print(b[:2])  #print elements of list b upto 2nd element

[1, 2, 3, 4, 5] ['Vipul', 21, 99.5]
[1, 2]
['Vipul', 21]

#### Concatenating 2 lists

In [80]:
a = [1,2,3,4,5]
b = ["Vipul", 21, 99.5]
print(a)
print(b)
print("---------------------------------------------------")
print(a+b)   #concatinating the lists

[1, 2, 3, 4, 5]
['Vipul', 21, 99.5]
---------------------------------------------------
[1, 2, 3, 4, 5, 'Vipul', 21, 99.5]

###inserting new elements to the existing string
####using append() 

*   adding new element
*   bydefault added to the last index

In [81]:
a = [1,2,3,4,5]
a.append(6)   #adding/inserting element
print(a)

[1, 2, 3, 4, 5, 6]

#### Reverse the list using reverse()

In [83]:
a = [1,2,3,4,5]
a.reverse()  #reverse list
print(a)

[5, 4, 3, 2, 1]

###Nested List Matrix

In [85]:
a = [1,2,3]
b = [4,5,6]
c = [a,b]    # nested list matrix
print(c)

[[1, 2, 3], [4, 5, 6]]

In [90]:
a = [1,2,3]
b = [4,5,6]
c = [a,b]    # nested list matrix
print(c[0])  # printing row
print(c[1])  # printing row

[1, 2, 3]
[4, 5, 6]

In [91]:
a = [1,2,3]
b = [4,5,6]
c = [a,b]       # nested list matrix
print(c[0])     # printing row
print(c[1])     # printing row
print(c[0][0])  # printing first element
print(c[1][0])  # printing first element

[1, 2, 3]
[4, 5, 6]
1
4

##4.Dictionaries

###Creating dictionary : Key & Value

*   Created using { } curly braces
*   Syntax : {key:value}
*   example : {"Name" : "Vipul", "Age" : 23}
*   to print using key, specify the key in [ ] brackets

In [92]:
a = {"Name":"Vipul", "Age":23,"College":["GPK","SETI"]}
print(a)

{'Name': 'Vipul', 'Age': 23, 'College': ['GPK', 'SETI']}

####printing values based on its key

In [95]:
a = {"Name":"Vipul", "Age":23,"College":["GPK","SETI"]}
print(a["Name"])   #printing values based on its key
print(a["Age"])   #printing values based on its key

Vipul
23

#### Changing the values

In [96]:
a = {"Name":"Vipul", "Age":23,"College":["GPK","SETI"]}
a["Age"] = 25   # changing the values
print(a)

{'Name': 'Vipul', 'Age': 25, 'College': ['GPK', 'SETI']}

In [97]:
b= {"Climate": {"Condition": {"Temperature":"38 Degree","Humidity":"70 Percent"}}}
print(b)

{'Climate': {'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}}

In [100]:
b= {"Climate": {"Condition": {"Temperature":"38 Degree","Humidity":"70 Percent"}}}
print(b)
print(b["Climate"])

{'Climate': {'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}}
{'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}

In [101]:
b= {"Climate": {"Condition": {"Temperature":"38 Degree","Humidity":"70 Percent"}}}
print(b)
print(b["Climate"])
print(b["Climate"]["Condition"])

{'Climate': {'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}}
{'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}
{'Temperature': '38 Degree', 'Humidity': '70 Percent'}

In [102]:
b= {"Climate": {"Condition": {"Temperature":"38 Degree","Humidity":"70 Percent"}}}
print(b)
print(b["Climate"])
print(b["Climate"]["Condition"])
print(b["Climate"]["Condition"]["Temperature"])

{'Climate': {'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}}
{'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}
{'Temperature': '38 Degree', 'Humidity': '70 Percent'}
38 Degree

In [103]:
b= {"Climate": {"Condition": {"Temperature":"38 Degree","Humidity":"70 Percent"}}}
print(b)
print(b["Climate"])
print(b["Climate"]["Condition"])
print(b["Climate"]["Condition"]["Humidity"])

{'Climate': {'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}}
{'Condition': {'Temperature': '38 Degree', 'Humidity': '70 Percent'}}
{'Temperature': '38 Degree', 'Humidity': '70 Percent'}
70 Percent

In [104]:
a = {"Name":"Vipul", "Age":23,"College":["GPK","SETI"]}
print(a.keys())   #printing the keys of dictionary
print(a.values()) #printing the values of dictionary
print(a.items())  #printing tuples of all the items

dict_keys(['Name', 'Age', 'College'])
dict_values(['Vipul', 23, ['GPK', 'SETI']])
dict_items([('Name', 'Vipul'), ('Age', 23), ('College', ['GPK', 'SETI'])])

##5.Tuples

###Creating Tuple